# =========================================================================
# Default .gitignore for RuoYi-Vue Project
# =========================================================================

# IDE
# ---
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath
.springBeans
.sts4-cache/
nbproject/private/
.nb-gradle/
.vscode/

# Build Tools
# -----------
/build/
/target/
/dist/
/nbbuild/
/nbdist/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# Logs and Temp
# -------------
*.log
/logs/
/temp/
*.swp
*~
# For Redis
dump.rdb
*.stackdump

# RuoYi Specific
# --------------
# Default upload path
/profile/
# Maven backup
pom.xml.versionsBackup
rebel.xml

# Operating System Files
# ----------------------
# macOS
.DS_Store
# Windows
Thumbs.db
